@use "../project/breakpoints";
@use "../project/colors";
@use "../project/spacer";
@use "../project/fonts";


.about-us__text,
.description__text {
    color:colors.$c-primary;
    font-family: fonts.$f-secondary;
    line-height: 1.6;
    font-size: 14px;
    padding-bottom: spacer.$primary-spacer;

    @media (min-width:breakpoints.$bp-s) {
        font-size: 16px;
    }

    @media (min-width:breakpoints.$bp-xl) {
        font-size: 20px;
        flex: 100%;
        padding: 0 spacer.$extra-large-spacer spacer.$primary-spacer spacer.$extra-large-spacer;
    }
}

.copyright {
    text-align: right;
    color: colors.$c-secondary;
    font-family: fonts.$f-primary;
    font-size: 10px;
    padding: spacer.$primary-spacer;
}