@use "../project/breakpoints";
@use "../project/colors";
@use "../project/spacer";
@use "../project/fonts";

.blockquote {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../images/backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:colors.$c-primary;

  font-family: fonts.$f-primary;
  font-size: 24px;
  text-align: center;
  padding-top: spacer.$special-spacer; 
  padding-bottom: spacer.$double-special-spacer;
  

  @media (min-width: breakpoints.$bp-m) {
    font-size: 28px;
  }

  @media (min-width: breakpoints.$bp-xl) {
    font-size: 36px;
  }
}
