@use "../project/breakpoints";
@use "../project/colors";
@use "../project/spacer";
@use "../project/fonts";


.hero {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 600px;
    box-shadow: 0px 15px 15px 3px rgba(197,197,197,0.5);
    margin:0 auto;
    // max-width: 1600px;


    &__title {
        color:colors.$c-secondary;
        font-family: fonts.$f-primary;
        text-transform: uppercase;
        font-size: 56px;
        text-align: center;
        margin: 0;
        padding-top: spacer.$double-spacer;
        padding-bottom: spacer.$primary-spacer;

        @media  screen and (min-width: breakpoints.$bp-xs) {
          
            grid-column: 2;
           
       
        }

        @media  screen and (min-width: breakpoints.$bp-s) {
            font-size: 80px;
            grid-column: 2;
           
       
        }

        @media  screen and (min-width: breakpoints.$bp-xl) {
            font-size: 140px;
            grid-column: 2;
           
       
        }}

    &__text {
        color:colors.$c-secondary;
        font-family: fonts.$f-secondary;
        text-transform: uppercase;
        text-align: right;
        font-size: 14px;
        margin: 0;
        padding: 0 spacer.$double-spacer;

        @media  screen and (min-width: breakpoints.$bp-xs) {
            
            grid-column: 2;
            padding: 0;}

        @media  screen and (min-width: breakpoints.$bp-s) {
            font-size: 18px;
            }

        @media  screen and (min-width: breakpoints.$bp-xl) {
            font-size: 24px;
          
           

         
       
    }
    
}}