<section class="about-us" id="about-us">
   
        <div class="wrapper--inner">
            <h2 class="about-us__header">O nás</h2>
            <p class="about-us__text">Jsme dynamická a inovativní firma zaměřená na poskytování špičkových IT řešení pro naše
                zákazníky. S naším rozsáhlým know-how a zkušenostmi v oboru jsme připraveni pomoci vám využít plný potenciál moderních
                technologií a dosáhnout vašich obchodních cílů.</p>
            <p class="about-us__text">Síla naší společnosti spočívá v našem týmu vynikajících odborníků, kteří mají hluboké
                technické znalosti a zároveň schopnost porozumět obchodnímu prostředí našich klientů. S vášní pro inovace a neustálým
                sledováním nových trendů v oblasti IT jsme schopni navrhovat a implementovat řešení, která vám umožní vyniknout na trhu
                a posunout vaše podnikání kupředu.</p>
            <div class="wrapper--inner">
                <div class="colums--cards">
                    <div class="card">
                        <img class="card__img" src="images/checkicon.png" alt="zkušenosti">
                        <p class="card__description">15 let zkušeností</p>
                    </div>
                    <div class="card">
                        <img class="card__img" src="images/checkicon.png" alt="procesy">
                        <p class="card__description">Zlepšování procesů</p>
                    </div>
                    <div class="card">
                        <img class="card__img" src="images/checkicon.png" alt="IT">
                        <p class="card__description">Zlepšování IT struktury</p>
                    </div>
                </div>
            </div>
        </div>
  
</section>