<div class="wrapper">
<div class="columns-two"> 
<aside class="aside">

            <a href="/konzultace/" class=" button button__aside {{ "button__aside--active" if page.fileSlug === "konzultace" }}">KONZULTACE</a>
             <a href="/outsourcing/" class="button button__aside {{ "button__aside--active" if page.fileSlug === "outsourcing" }}">OUTSOURCING</a>
            <a href="/audit/"class="button button__aside {{ "button__aside--active" if page.fileSlug === "audit" }}">PROCESNÍ AUDIT</a>
 </aside>