
 <footer class="footer ">
     <div class="wrapper--footer ">
       <div class="wrapper--inner">
           <div class="colums--two--footer">
               <div class="footer__information">
                  <h2 class="footer__header" id="contact">Kontakt</h2>
                     <div class="wrapper--inner">
                        <div class="wrapper--inner--layer">
                          <p class="footer__phone">608 123 456</p>
                          <p class="footer__mail">info@Blackbyte.cz</p>
                          <p class="footer__address">Blackbyte, s.r.o.<br>
                                Nějaká ulice 123
                                <br>
                                    Brno
                                    <br>
                                        602 00
                                        <br></p>
                         </div>
                                </div>
                            </div>
                            
                            <nav class="navbar">
                                <div class="wrapper--inner--layer">
                                    <li class="navbar__list">Navigace</li>
                                    <li class="navbar__item" href="#services">Co nabízíme</li>
                                    <li class="navbar__item" href="#about-us">O nás</li>
                                    <li class="navbar__item" href="#price">Ceník
                                    </li>
                                    <li class="navbar__item" href="#contact">Kontakt</li>
                                </div>
                            </nav>
                            
                                 </div>


                </div>
                </div>
  </footer>
              