<footer class="footer ">
    <div class="wrapper--footer ">
        <div class="wrapper--inner">
            <div class="footer__information">
                <h2 class="footer__header" id="contact">Kontakt</h2>
                <div class="wrapper--inner">
                    <div class="wrapper--inner--layer">
                        <p class="footer__phone">608 123 456</p>
                        <p class="footer__mail">info@Blackbyte.cz</p>
                        <p class="footer__address">Blackbyte, s.r.o.<br> Nějaká ulice 123 <br> Brno <br> 602 00 <br></p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#header"><img class="footer__img" src="/images/arrowUp2.png" alt="arrowUp">
        </a>
    </div>
</div></footer>