</div>
<div class="wrapper">
    <section class="form">
        <div class="wrapper--inner">
            <div class="wrapper--inner-back">
                <h2 class="form__header">Poptávkový formulář</h2>
                <form class="form__form" id="form" action="noaction.html">
                    <label class="form__label" for="fname">Jméno</label><br> <input class="form__input" type="text" id="fname" name="fname"><br>
                    <label class="form__label" for="lname">Příjmení</label><br> <input class="form__input" type="text" id="lname" name="lname"><br>
                    <label class="form__label" for="phone">Telefon</label><br> <input class="form__input" type="text" id="phone" name="phone" pattern="775123321"><br>
                    <label class="form__label" for="mail">E-mail</label><br> <input class="form__input" type="text" id="mail" name="mail"><br>
                    <label class="form__label" for="services">Mám zájem o:<br>(Není nutné vyplnit)</label><br>
                    <div class="wrapper--inner--form">
                        <input class="form__input--checkbox" type="checkbox" id="consultation" name="services" value="consultation">
                        <label class="form__label--checkbox" for="consultation">KONZULTACE</label><br> <input class="form__input--checkbox" type="checkbox" id="outsourcing" name="services" value="outsourcing">
                        <label class="form__label--checkbox" for="outsourcing">OUTSOURCING</label><br> <input class="form__input--checkbox" type="checkbox" id="audit" name="services" value="audit">
                        <label class="form__label--checkbox" for="audit">PROCESNÍ AUDIT</label><br>
                    </div>
                    <label class="form__label" for="services">Ještě Vám chci říct, že...</label><br>
                    <textarea class="form__input form__input--message" name="message" rows="15" cols="30">
                        Zde můžete upřesnit svůj požadavek.
                    </textarea>
                    <button class="button button__form" type="submit" form="form1" value="Submit">Odeslat</button>
                </div>
            </form>
        </div>
    </div>
</section></div>