
    <header class="header">
      <div class="wrapper">
        <div class="column--header">
        <a href="/"><img class="header__logo" src="/images/logo1.png" alt="Logo"> </a>
        <nav role="navigation" class="header__menu">
            <ul>
                <li class="menu__item">
                    <a class="menu__item--style" href="#services">Nabídka</a>
                    <ul class="dropbox">
                        <li class="dropbox__item">
                            <a class="dropbox__item--style" href="/konzultace/">Konzultace</a>
                        </li>
                        <li class="dropbox__item">
                            <a class="dropbox__item--style" href="/outsourcing/">Outsourcing</a>
                        </li>
                        <li class="dropbox__item">
                            <a class="dropbox__item--style" href="/audit/">Procesní audit</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__item--style" href="/#about-us">O nás</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item--style" href="#price">Ceník</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item--style" href="#contact">Kontakt</a>
                </li>
            </ul>
        </nav>
        </div>
       
    </header>