</div>
<section class="hero"> 
 
    
     
        <div class="column--hero">
            <h1 class="hero__title">Blackbyte</h1>
            <h3 class="hero__text">Konzultace</h3>
            <h3 class="hero__text">Projekty</h3>
            <h3 class="hero__text">Procesní audit</h3>
        </div>
  
     
</section>