<section class="price" id="price">
    <div class="wrapper--inner">
        <h2 class="price__header">Ceník</h2>
        <div class="wrapper--inner">
            <p class="price__text">Naše ceny se odvíjí od Vámi poptávané služby.<br>Zaslání nabídky je nezávazné, vše vytváříme na míru pro konkrétního zákazníka.<br>Kontaktujte nás pomocí poptávkového formuláře a my se Vám ozveme s nabídkou.</p>
                    <p class="price__text--highlight">Pojďme nalézt to pravé IT řešení práve pro Vás!</p>
                    <p class="price__text">Kontaktujte nás pomocí poptávkového formuláře a my se Vám ozveme s nabídkou.</p>
                    <a class="button button__price" href="/form/">Poptávkový formulář</a>
                </div>
            </div>
        </section>