<div class="wrapper">
    <div class="columns-two ">
        <section class="price--modification" id="price">
            <h2 class="price__header--modification">Zajímá Vás víc?</h2>
            <a class="button button__price button__price--side" href="/form/">Nechte si zpracovat nezávaznout cenovou nabídku</a>
        </section>
    </div>
</div>