<section class="services" id="services">
    <div class="wrapper--inner">
        <h2 class="services__header">Co nabízíme</h2>
        <div class="column-services">
            <div class="services__offer">
                <img class="offer__image" src="images/consultation.jpg" alt="konzultace">
                <div class="offer__text">
                    <h5 class="offer__main-text">Konzultace</h5>
                    <p class="offer__description">Naše společnost nabízí strategické poradenství, které pomáhá firmám vytvořit efektivní
                        plány pro IT infrastrukturu a aplikace, které odpovídají obchodním cílům.</p>
                </div>
                <a href="/konzultace/" class="button button__offer">Chci vědět víc</a>
            </div>
            <div class="services__offer">
                <img class="offer__image" src="images/outsourcing.jpg" alt="outsourcing">
                <div class="offer__text">
                    <h5 class="offer__main-text">Outsourcing</h5>
                    <p class="offer__description">Pokud hledáte specializovanou službu outsourcingu, naše společnost nabízí řešení na míru.
                        Můžeme nabídnout outsourcing specializovaných služeb.
                    </p>
                </div>
                <a href="/outsourcing/" class="button button__offer">Chci vědět víc</a>
            </div>
            <div class="services__offer">
                <img class="offer__image" src="images/audit.jpg" alt="audit">
                <div class="offer__text">
                    <h5 class="offer__main-text">Procesní audit</h5>
                    <p class="offer__description">Naši odborníci na procesní audit pomáhají firmám najít a využívat úspory, což umožňuje
                        firmám investovat do nových projektů a rozvoje.</p>
                </div>
                <a href="/audit/" class="button button__offer">Chci vědět víc</a>
            </div>
        </div>
    </div>
</section>