@use "../project/breakpoints";
@use "../project/colors";
@use "../project/spacer";



.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 50px spacer.$double-spacer;
  background-color: colors.$c-primary-theme;

  &--inner {
    padding: 0 50px spacer.$double-spacer;
    &--layer {
      background: rgb(0, 0, 0, 0.5);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(5px);
      color: colors.$c-secondary;
      padding: spacer.$double-spacer;
      margin: spacer.$primary-spacer spacer.$primary-spacer
        spacer.$double-spacer spacer.$primary-spacer;
        border-radius: 5px;
        text-align: center;
    }
    @media (min-width:breakpoints.$bp-xl) {
      padding: 0 spacer.$extra-large-spacer;
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;

      &--back {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &--form {
      padding: spacer.$half-spacer 0;
      margin-bottom: spacer.$primary-spacer;
    }
  }
}
