{% include "partials/baseHtml.njk" %}
<body>
    {% include "partials/header.njk" %}
    {% include "partials/hero.njk" %}
    {% include "partials/services.njk" %}
    {% include "partials/blockquote1.njk" %}
    {% include "partials/about-us.njk" %}
    {% include "partials/blockquote2.njk" %}
    {% include "partials/price-main.njk" %}
    {% include "partials/footer.njk" %}
</body></html>