{% include "partials/baseHtml.njk" %}
<body>
    {% include "partials/header-side.njk" %}
    {% include "partials/aside.njk" %}
    {{ content | safe }}
    {% include "partials/price-side.njk" %}
    {% include "partials/footer.njk" %}
</body></html>