$c-primary-theme: #202020;
$c-secondary-theme:#000000;
$c-tertiary-theme: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,147,145,1) 35%);

$c-primary: #dfdfdf;
$c-secondary: #2BDF5B;
$c-tertiary: #2BDF5B;

$c-additional: #808080;
$c-additional-opacity:  rgba(0, 0, 0, 0.1);

$c-layer:#2BDF5B;
$c-secondary-layer:#00000040;
